.food__category{
    background:#05692d;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 8px;
}

.food__category button{ 
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;
}

.food__category button img{
    width: 20px;
    height: 20px;
}

.food_btn_active{
     background: #fff !important;
     border-radius: 5px;
     color: #df0a0a !important;
}